 /*Start of CSS and navbar*/
 
  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.postimg.cc/vZrkVwB5/joe-woods-4-Zaq5x-Y5-M-c-unsplash.jpg)
      no-repeat center center/cover;
  }
  
  .row-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .row-content p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
  }
  /*All size matters, allocate reasonbale size for all screens*/
  @media screen and (max-width: 268px) {
    .main-menu {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background-color: #252525;
      transition: 0.5s all ease;
      /* visibility: hidden; */
      display: none;
      align-items: center;
      transform: translateX(-800px);
      padding-top: 60px;
    }
  
    .main-menu.show {
      transform: translateX(0px);
      transition: 0.5s all ease;
    }
    .main-menu li a {
      margin-bottom: 10px;
      display: block;
    }
    .menu-btn {
      display: block;
      position: absolute;
      color: white;
      top: 10px;
      right: 30px;
      font-size: 2rem;
    }
  }
  /*Make everything pretty by adding fonts*/
  @font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}
body {
  background: #dce1df;
  color: #4f585e;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

/*Add Cards and their specialties*/
div.cards {
  margin: 50px auto;
  max-width: 1060px;
  text-align: center;
  max-height: 1060px;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 500px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 370px;
  z-index: 1;
  max-height: 600px;
  height:fit-content;
}
div.card img {
  max-width:360px;
  width:auto;
  height:300px;
  max-height: 600px;
  }
div.card .card__image-holder {
  
  height: 0px;
  padding-bottom: 72%;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}
a{
  color:rgb(221, 197, 197);
  text-decoration: none;
}
/*Nav Bar*/
html{
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #000000;
  font-size: 20px;
}
/* Toggle button */

.navbar_toggle {
  margin-left: 5%;
  font-size: 30px;
  color: #ffffff;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  display: none;
}

@font-face { font-family: Hesh; src: url('../fonts/heshanty-regular.otf'); } 
.logo{
  margin-left: 5%;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  font-family: Hesh;
}
.logo_header{
  display: flex;
  margin-left: 2%;
}

.main_nav{
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-between;
  list-style: none;
}
.main_nav li:hover{
  background-color: gray
}

.main_nav li{
  display: inline;
  color: #ffffff;
}
.main_nav li a{
  color: #ffffff;
}

@media only screen and (max-width : 992px){

  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #000000;
    font-size: 20px;
  }

  .main_nav{
    display: none;
  }

  .show_nav{
    padding-top: 2%;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main_nav li{
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 0%;
  }
  .navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }
  .logo_header{
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
  }
  
}
